.registration h1{
    text-align: center;
    margin-top: 7rem;
}

.registration h2{
    text-align: center;
    margin-top: 2rem;
}

.register-content h3{
    margin-top: 2rem;
    margin-left: 2rem;
    color: var(--text-color);
    font-size: 1.75rem;
}

.register-content p{
    margin-top: 0.5rem;
    margin-left: 2rem;
    color: var(--text-color);
    font-size: 1rem;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 2rem;

}
table, th, td {
    border: 2px solid var(--primary-color);
    font-size: 1.2rem;
}
th, td {
    padding: 10px;
    color: var(--text-color);
    text-align: center;
}
th {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.note {
    font-size: 0.9em;
    color: var(--text-color);
    margin: 2rem 0;
    text-align: center;
}

@media (max-width: 768px) {
    .table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin-left: 0;
    }
    
    .table wrapper table {
        width: 100%;
        margin-left: 0;
        display: block;
        min-width: 600px;
        font-size: 1rem;
    }
    
    th, td {
        padding: 8px;
    }

    ::-webkit-scrollbar {
        width: 12px;         
        height: 12px;    
    }
    
    ::-webkit-scrollbar-track {
        background: #f0f0f0;  
        border-radius: 10px;     
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--bg-color);
        border-radius: 10px; 
        border: 3px solid var(--primary-color);
        transition: background-color 0.3s ease; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--bg-color);  
    }
    
    ::-webkit-scrollbar-corner {
        background: #f0f0f0;
    }
}